
config overture
	option Enable '0'
	option BindAddress ':8053'
	list PrimaryDNS 'cfg02321b'
	list PrimaryDNS 'cfg03321b'
	list AlternativeDNS 'cfg04321b'
	list AlternativeDNS 'cfg05321b'
	option OnlyPrimaryDNS 'false'
	option IPv6UseAlternativeDNS 'false'
	option AlternativeDNSConcurrent 'false'
	option PoolIdleTimeout '15'
	option PoolMaxCapacity '15'
	option WhenPrimaryDNSAnswerNoneUse 'PrimaryDNS'
	option IPNetworkFilePrimary '/etc/overture/ip_network_primary'
	option IPNetworkFileAlternative '/etc/overture/ip_network_alternative'
	option DomainFilePrimary '/etc/overture/domain_primary'
	option DomainFileAlternative '/etc/overture/domain_alternative'
	option DomainFileMatcher 'suffix-tree'
	option HostsFile '/etc/overture/hosts'
	option HostsFileFinder 'full-map'
	option MinimumTTL '0'
	option DomainTTLFile '/etc/overture/domain_ttl'
	option CacheSize '0'
	list RejectQType '255'
	option AutoUpdateIPNetworkFilePrimary '0'

config upstreamdns
	option Timeout '6'
	option Name '114DNS'
	option Address '114.114.114.114'
	option Protocol 'udp'

config upstreamdns
	option Timeout '6'
	option Name 'aliDNS'
	option Address '223.5.5.5'
	option Protocol 'udp'

config upstreamdns
	option Name 'OpenDNS 443 TCP'
	option Address '208.67.222.222:443'
	option Protocol 'tcp'
	option Timeout '6'

config upstreamdns
	option Name 'Google DNS dot'
	option Address 'dns.google:853@8.8.8.8'
	option Protocol 'tcp-tls'
	option Timeout '6'

config upstreamdns
	option Timeout '6'
	option Name 'Cloudflare DNS doh'
	option Address 'https://cloudflare-dns.com/dns-query'
	option Protocol 'https'